{
  "openapi": "3.1.0",
  "info": {
    "title": "Hardware Challenge API",
    "description": "API specification for Miner and Validator endpoints used in hardware design challenges and validation processes.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hardwarechallenge.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/miner/active": {
      "get": {
        "description": "Get currently available challenges for miners.",
        "responses": {
          "200": {
            "description": "List of active challenges.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Challenge"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or authentication failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/miner/info": {
      "get": {
        "description": "Retrieve challenge details, time remaining, and file locations.",
        "parameters": [
          {
            "name": "challenge_id",
            "in": "query",
            "description": "Unique identifier of the challenge.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Challenge information retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeInfo"
                }
              }
            }
          },
          "404": {
            "description": "Challenge not found."
          }
        }
      }
    },
    "/miner/generate-submission-id": {
      "post": {
        "description": "Generate a unique submission ID for solution upload.",
        "responses": {
          "200": {
            "description": "Submission ID generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "submission_id": {
                      "type": "string",
                      "description": "Unique identifier for the submission."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/miner/submit": {
      "post": {
        "description": "Upload hardware design solution with cryptographic authentication.",
        "requestBody": {
          "description": "Hardware solution package and authentication data.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "submission_id": {
                    "type": "string"
                  },
                  "auth_token": {
                    "type": "string"
                  },
                  "design_file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["submission_id", "auth_token", "design_file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission received successfully."
          },
          "400": {
            "description": "Invalid submission or authentication error."
          }
        }
      }
    },
    "/miner/status": {
      "get": {
        "description": "Track evaluation progress and retrieve submission scores.",
        "parameters": [
          {
            "name": "submission_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission status and scores retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionStatus"
                }
              }
            }
          }
        }
      }
    },
    "/validator/testcases/download": {
      "get": {
        "description": "Download validator-specific test suites.",
        "responses": {
          "200": {
            "description": "Test cases downloaded successfully.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/validator/batch/current": {
      "get": {
        "description": "Retrieve the current submission batch for evaluation.",
        "responses": {
          "200": {
            "description": "Current batch retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          }
        }
      }
    },
    "/validator/submit_score": {
      "post": {
        "description": "Submit evaluation results with comprehensive metrics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Score submitted successfully."
          },
          "400": {
            "description": "Invalid score submission data."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Challenge": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChallengeInfo": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "details": { "type": "string" },
          "time_remaining": { "type": "string" },
          "file_locations": {
            "type": "array",
            "items": { "type": "string", "format": "uri" }
          }
        }
      },
      "SubmissionStatus": {
        "type": "object",
        "properties": {
          "submission_id": { "type": "string" },
          "status": { "type": "string" },
          "score": { "type": "number", "format": "float" },
          "progress": { "type": "integer", "format": "int32" }
        }
      },
      "Batch": {
        "type": "object",
        "properties": {
          "batch_id": { "type": "string" },
          "submissions": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "ScoreSubmission": {
        "type": "object",
        "properties": {
          "batch_id": { "type": "string" },
          "submission_id": { "type": "string" },
          "metrics": {
            "type": "object",
            "additionalProperties": { "type": "number" }
          }
        },
        "required": ["batch_id", "submission_id", "metrics"]
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
